apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-worker" .Chart.Name }}
  labels:
    app.kubernetes.io/name: {{ printf "%s-core" .Chart.Name }}
    container: core
    {{- if .Values.core.labels }}
    {{- toYaml .Values.core.labels | nindent 4 }}
    {{- end }}
    {{- include "resource.labels.commonLabels" .  | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  namespace: {{ include "namespace.name" . }}
  {{- if or .Values.core.annotations .Values.commonAnnotations }}
  annotations: 
    {{- if .Values.core.annotations }}
    {{- toYaml .Values.core.annotations | nindent 4 }}
    {{- end }}
    {{- if .Values.commonAnnotations }}
    {{- include "tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  replicas: {{ .Values.core.replicaCount.worker }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ printf "%s-core" .Chart.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ printf "%s-core" .Chart.Name }}
        container: core
        {{- if .Values.core.labels }}
        {{- toYaml .Values.core.labels | nindent 8 }}
        {{- end }}
        {{- include "resource.labels.commonLabels" . | nindent 8 }}
        {{- if .Values.commonLabels }}
        {{- include "tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 8 }}
        {{- end }}
      namespace: {{ include "namespace.name" . }}
      {{- if or .Values.core.annotations .Values.commonAnnotations }}
      annotations: 
        {{- if .Values.core.annotations }}
        {{- toYaml .Values.core.annotations | nindent 8 }}
        {{- end }}
        {{- if .Values.commonAnnotations }}
        {{- include "tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 8 }}
        {{- end }}
      {{- end }}
    spec:
      initContainers:
        - name: init-worker
          env:
            - name: CORE_SERVICE
              value: {{ printf "%s-core-service" .Chart.Name }}
          image: busybox:latest
          imagePullPolicy: Always
          command:
            - sh
            - "-c"
            - >-
              until nc -z $(CORE_SERVICE) 80 > /dev/null;
              do 
                echo waiting for core;sleep 2; 
              done;
          securityContext:
            privileged: {{ .Values.core.securityContext.privileged }}
            allowPrivilegeEscalation: {{ .Values.core.securityContext.allowPrivilegeEscalation }}
            capabilities:
              drop:
                - ALL
      containers:
        - env:
            - name: UI_SERVICE_NAME
              value: {{ printf "%s-ui-service" .Chart.Name }}
            - name: ANALYTICS_BASE_URL
              value: https://reporting.netskope.tech
            - name: ANALYTICS_TOKEN
              valueFrom:
                secretKeyRef:
                  key: analytics-token
                  name: {{ printf "%s-core-secret" .Chart.Name }}
            - name: UI_TAG
              value: {{ .Values.ui.image }}
            - name: CORE_TAG
              value: {{ .Values.core.image }}
            - name: ENABLE_CELERY_BEAT
              value: "false"
            {{- if .Values.core.httpProxy.enable }}
            - name: HTTP_PROXY
              value: {{ required "HTTP Proxy URL cannot be empty" .Values.core.httpProxy.url }}
            {{- end }}
            {{- if .Values.core.httpsProxy.enable }}
            - name: HTTPS_PROXY
              value: {{ required "HTTPS Proxy URL cannot be empty" .Values.core.httpsProxy.url }}
            {{- end }} 
            - name: JWT_ALGORITHM
              value: HS256
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  key: jwt-secret
                  name: {{ printf "%s-core-secret" .Chart.Name }}
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: rabbitmq-default-password
                  name: {{ printf "%s-rabbitmq-secret" .Chart.Name }}
            - name: MAX_MAINTENANCE_WINDOW_MINUTES
              value: "15"
            - name: MAX_WAIT_ON_LOCK_IN_MINUTES
              value: "240"
            - name: MONGO_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  key: connectionString.standard
                  name: {{ printf "%s-mongo-cteadmin-connection-string" .Chart.Name }}
                  optional: false
            - name: PULL_THREADS
              value: "6"
            - name: RABBITMQ_CONNECTION_STRING
              value: amqp://user:$(RABBITMQ_PASSWORD)@{{ printf "%s-rabbitmqcluster-nodes" .Chart.Name }}
          image: {{ .Values.core.image }}
          imagePullPolicy: Always
          name: {{ printf "%s-worker" .Chart.Name }}
          ports:
            - containerPort: 8000
              name: "core"
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 8000
            failureThreshold: 6
            initialDelaySeconds: 10
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 8000
            failureThreshold: 6
            initialDelaySeconds: 10
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 20
          resources: {{- toYaml .Values.core.resources | nindent 12 }}
          securityContext:
            runAsNonRoot: true
            privileged: {{ .Values.core.securityContext.privileged }}
            allowPrivilegeEscalation: {{ .Values.core.securityContext.allowPrivilegeEscalation }}
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /opt/netskope/plugins/custom_plugins
              name: {{ printf "%s-worker-custom-plugins-config-volume" .Chart.Name }}
            - mountPath: /service-account
              name: serviceaccount-token-volume
              readOnly: true
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: container
                      operator: In
                      values:
                        - core
                topologyKey: topology.kubernetes.io/zone
      restartPolicy: Always
      serviceAccount: {{ include "serviceAccountName.name" . }}
      volumes:
        - name: {{ printf "%s-worker-custom-plugins-config-volume" .Chart.Name }}
          configMap:
            name: {{ printf "%s-core-custom-plugins-configmap" .Chart.Name }}
            defaultMode: 420
        - name: serviceaccount-token-volume
          projected:
            sources:
              - serviceAccountToken:
                  expirationSeconds: 3600
                  path: serviceaccount-token-volume
